body {
    font-family: Calibri;
    font-size: 18px !important;
    background-image: url('../img/bg-pattern.jpg');
}

.logo {
    height: 30px;
    background-color: lightgray;
    vertical-align: top;
    text-align: center;
    border-bottom: solid 1px #757575;
}

.commentBox {
    padding: 5px;
}

.newPost {
      position: absolute !important;
      width: 537px !important;
      height: 294px !important;
      top: 308px !important;
      right: 25px !important;
}

.submitButton {
    padding: 5px;
    margin-top: 5px;
    margin-right: 13px !important;
}

.cancelButton {
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px !important;
}

.commentContent {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentContent:hover {
    background: #337AB7 !important;
}

.friendsPreview {
    display: inline-block !important;
    width: 537px !important;
    margin-right: 15px !important;
    position: absolute !important;
    top: 100px !important;
    right: 10px !important;
}

.likeButton {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.likeButton:hover {
    cursor: pointer;
}

.commentButton {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.commentButton:hover {
    cursor: pointer;
}

.commentsButton {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.commentsButton:hover {
    cursor: pointer;
}

.postContent {
    word-wrap: break-word;
}

.postContent:hover {
    background: #5BC0DE !important;
}

.post:hover {
    background: white !important;
}

ul {
    list-style-type: none;
}

.post {
    width: 600px;
    margin: 10px;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 10px !important;
}

.friendPreview {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.totalFriends {
    text-align: center;
    padding: 10px;
    height: 50px;
}

.totalFriends:hover {
    background: #D9534F !important;
}

.friendDetails {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    display: inline-block;
}

.totalCount {
    display: block;
    padding: 10px;
    text-align: center;
}

.totalCount:hover {
    background: #D9534F !important;
}

.resultImage {
    width: 150px;
    height: 150px;
}

.searchResult {
    border-radius: 10px;
    margin: 10px;
    width: 400px;
}

.searchResult:hover {
    background: inherit;
}

.chooseCover {
    width: 600px;
    height: 100px;
}

.logo img {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.requestContainer {
    border: 1px solid black;
    background: cyan;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.friendRequestName {
    margin-right: 20px;
}

.friendRequestImage {
    display: inline !important;
}

.friendRequestButton {
    align-self: center;
}

.header {
    display: block;
    width: 70%;
    margin: auto;
    background-position: center center;
}

.postTextArea {
    margin: 10px;
    background: #c0c0c0;
}

.header .image-container {
    margin: 2% 2% 0 2%;
}

.hover-box {
    position: absolute !important;
}

.image-container, .summary-container, .post-image, .post-info, .hover-box {
    display: inline-block;
}

.post-content {
    padding: 0 1%;
}

.register, .login {
    padding-top: 3% !important;
}

.post-image {
    vertical-align: top;
    padding: 0 1% 1% 1%;
}

.summary-container {
    vertical-align: bottom;
    color: #fff;
}

.summary-container > h2 {
    text-shadow: 2px 2px 2px #000;
}

.login {
    margin: 0 auto !important;
    float: none !important;
}

.main {
    width: 60%;
    margin: 0 auto;
}

img.mini-thumbnail {
    width: 75px;
    height: 75px;
}

img.thumbnail {
    width: 150px;
    height: 150px;
    margin: 0;
}

#usernamePreview {
    color: purple;
}

.logo:hover {
    background: #337AB7 !important;
}

#navbar:hover {
    background: #F0AD4E !important;
}

#searchBox {
    margin: 7px;
    border-radius: 10px;
    border: 1px solid #337AAD;
    background: #CCC;
    color: #F96C65;
}

#searchButton {
    display: inline !important;
    padding: 5px;
    border-radius: 10px;
    background: inherit !important;
}

#searchButton:hover {
    background: inherit !important;
}

img.smallThumbnail {
    width: 50px;
    height: 50px;
    margin: 0;
}

.cancelButton:hover {
    cursor: pointer;
}

.submitButton:hover {
    cursor: pointer;
}

.hover-box {
    background-color: #F5F5F5;
    border: solid 1px #E3E3E3;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    /* display: none; */
}

.hover-box > div {
    display: inline-block;
    vertical-align: top;
}

.hover-profile-info {
    padding: 5px;
    width: 200px;
}

.hover-profile-name {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}

.post-container {
    /* display: none; */
    width: 50%;
    margin: 0 auto !important;
}

div.radio input {
    vertical-align: bottom;
}

input[type="file"] {
    position:absolute;
    display:none !important;
}

.center-btn {
    display: block !important;
    text-align: center;
}

.picture-upload > div {
    display: block !important;
    text-align: center;
}

.picture-name {
    overflow: hidden;
}

.picture-upload > div > img, button {
    display: inline-block;
}

.home-buttons-container {
    margin-top: 5%;
}

.home-btn {
    width: 300px !important;
    border: solid 4px #EBEBEB !important;
    border-radius: 0 !important;
}

.center {
    text-align: center;
}

a {
    cursor: pointer !important;
}

footer {
    border-top: solid 1px #E3E3E3;
    background-color: #F5F5F5;
}

@media only screen and (max-width: 490px) {
    .image-container {
        margin: 0 auto;
    }
}