<div class="logo">
    <a href="#/"><img src="img/beer.png" /></a>
    <span>Seems Legit Bro</span>
</div>

<header class="header" id="header">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <div class="image-container" id="userProfileImage">
                        <img class="smallThumbnail" />
                    </div>
                </li>
                <li>
                    <a class="navbar-brand" id="usernamePreview">
                        <u style="margin-right: 30px">Username</u>
                    </a>
                </li>
                <li><a href="#/">News Feed</a></li>
                <li><a href="#/Edit">Friend Requests</a></li>
                <li><a href="#/Post">Edit Profile</a></li>
                <li><a href="#/Post">Change Password</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/Logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>