<div class="logo btn-primary">
    <a href="#/"><img src="img/beer.png" /></a>
    <span>Seems Legit Bro</span>
</div>

<header class="header" id="header" ng-if="isLogged">
    <nav class="navbar btn-warning" id="navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <div class="image-container" id="userProfileImage">
                        <img class="smallThumbnail" src="{{ profileImage }}"/>
                    </div>
                </li>
                <li>
                    <a class="navbar-brand" id="usernamePreview" href="#/User/{{ username }}">
                        <u>{{ name }}</u>
                    </a>
                </li>
                <li><a href="#/">News Feed</a></li>
                <li><a href="#/FriendRequests">Friend Requests</a></li>
                <li><a href="#/EditProfile">Edit Profile</a></li>
                <li><a href="#/ChangePassword">Change Password</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li>
                    <input type="text" id="searchBox" value="" ng-model="searchBox"/>
                    <a id="searchButton" ng-href="#/Search/{{searchBox}}"><img src="img/search.png" alt=""></a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-controller="AuthenticationController"><a href="" style="color: #F96C65;" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="hover-box" style="visibility: hidden;">
    <div ng-if="!hasLoadedPreview()">Loading...</div>
    <div class="hover-profile-image" ng-if="hasLoadedPreview()">
        <img class="thumbnail" src="{{userPreviewData.profileImageData}}"/>
    </div>
    <div class="hover-profile-info" ng-if="hasLoadedPreview()">
        <p class="hover-profile-name"><a href="#/User/{{ userPreviewData.username }}">{{userPreviewData.name}}</a></p>
        <p>
            <div class="btn btn-primary" ng-if="!isFriend() && !isFriendRequestSent() && !isSelf()" ng-click="sendFriendRequest()">Invite</div>
            <div class="btn btn-warning" ng-if="!isFriend() && isFriendRequestSent() && !isSelf()">Friend request sent</div>
            <div class="btn btn-info" ng-if="isFriend() && !isSelf()">Friend</div>
        </p>
    </div>
</div>